* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f55a5a;
}

.top-heading {
  margin-left: 10px;
  color: #fff;
}
